USE [QLGIAYDEP]
GO
ALTER TABLE [dbo].[PHIEUNHAP] DROP CONSTRAINT [FK_PHIEUNHAP_NHANVIEN]
GO
ALTER TABLE [dbo].[NHANVIEN] DROP CONSTRAINT [FK_NHANVIEN_ACCOUNT]
GO
ALTER TABLE [dbo].[HOADON] DROP CONSTRAINT [FK_HOADON_NHANVIEN]
GO
ALTER TABLE [dbo].[HOADON] DROP CONSTRAINT [FK_HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[GIAYDEP] DROP CONSTRAINT [FK_GIAYDEP_LOAIGD]
GO
ALTER TABLE [dbo].[CTPN] DROP CONSTRAINT [FK_CTPN_PHIEUNHAP]
GO
ALTER TABLE [dbo].[CTPN] DROP CONSTRAINT [FK_CTPN_CHITIETGD]
GO
ALTER TABLE [dbo].[CHITIETHD] DROP CONSTRAINT [FK_CHITIETHD_HOADON]
GO
ALTER TABLE [dbo].[CHITIETHD] DROP CONSTRAINT [FK_CHITIETHD_CHITIETGD]
GO
ALTER TABLE [dbo].[CHITIETGD] DROP CONSTRAINT [FK_CHITIETGD_SIZE]
GO
ALTER TABLE [dbo].[CHITIETGD] DROP CONSTRAINT [FK_CHITIETGD_GIAYDEP]
GO
/****** Object:  Index [IX_NHANVIEN]    Script Date: 29/05/2020 10:05:46 PM ******/
ALTER TABLE [dbo].[NHANVIEN] DROP CONSTRAINT [IX_NHANVIEN]
GO
/****** Object:  Table [dbo].[SIZE]    Script Date: 29/05/2020 10:05:46 PM ******/
DROP TABLE [dbo].[SIZE]
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 29/05/2020 10:05:46 PM ******/
DROP TABLE [dbo].[PHIEUNHAP]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 29/05/2020 10:05:46 PM ******/
DROP TABLE [dbo].[NHANVIEN]
GO
/****** Object:  Table [dbo].[LOAIGD]    Script Date: 29/05/2020 10:05:46 PM ******/
DROP TABLE [dbo].[LOAIGD]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 29/05/2020 10:05:46 PM ******/
DROP TABLE [dbo].[KHACHHANG]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 29/05/2020 10:05:46 PM ******/
DROP TABLE [dbo].[HOADON]
GO
/****** Object:  Table [dbo].[GIAYDEP]    Script Date: 29/05/2020 10:05:46 PM ******/
DROP TABLE [dbo].[GIAYDEP]
GO
/****** Object:  Table [dbo].[CTPN]    Script Date: 29/05/2020 10:05:46 PM ******/
DROP TABLE [dbo].[CTPN]
GO
/****** Object:  Table [dbo].[CHITIETHD]    Script Date: 29/05/2020 10:05:46 PM ******/
DROP TABLE [dbo].[CHITIETHD]
GO
/****** Object:  Table [dbo].[CHITIETGD]    Script Date: 29/05/2020 10:05:46 PM ******/
DROP TABLE [dbo].[CHITIETGD]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 29/05/2020 10:05:46 PM ******/
DROP TABLE [dbo].[ACCOUNT]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 29/05/2020 10:05:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[USERNAME] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](50) NOT NULL,
	[AUTHORIZE] [nvarchar](50) NOT NULL,
	[TRANGTHAI] [bit] NULL,
 CONSTRAINT [PK_ACCOUNT] PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETGD]    Script Date: 29/05/2020 10:05:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETGD](
	[MASP] [nvarchar](50) NOT NULL,
	[SIZE] [int] NOT NULL,
	[SOLUONGTON] [int] NOT NULL,
	[TRANGTHAI] [bit] NULL,
 CONSTRAINT [PK_CHITIETGD] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC,
	[SIZE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETHD]    Script Date: 29/05/2020 10:05:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHD](
	[MAHD] [int] NOT NULL,
	[MASP] [nvarchar](50) NOT NULL,
	[SIZE] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL,
 CONSTRAINT [PK_CHITIETHD] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MASP] ASC,
	[SIZE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPN]    Script Date: 29/05/2020 10:05:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPN](
	[MAPN] [nvarchar](50) NOT NULL,
	[MASP] [nvarchar](50) NOT NULL,
	[SIZE] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL,
 CONSTRAINT [PK_CTPN] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC,
	[MASP] ASC,
	[SIZE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAYDEP]    Script Date: 29/05/2020 10:05:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAYDEP](
	[MASP] [nvarchar](50) NOT NULL,
	[TENSP] [nvarchar](50) NOT NULL,
	[DONGIA] [int] NOT NULL,
	[MALOAI] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_GIAYDEP] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 29/05/2020 10:05:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [int] IDENTITY(1,1) NOT NULL,
	[TONGHD] [int] NOT NULL,
	[NGAYBAN] [date] NOT NULL,
	[MAKH] [nvarchar](50) NOT NULL,
	[MANV] [int] NOT NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 29/05/2020 10:05:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [nvarchar](50) NOT NULL,
	[HOTEN] [nvarchar](50) NOT NULL,
	[NGAYSINH] [date] NULL,
	[DIACHI] [nvarchar](50) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIGD]    Script Date: 29/05/2020 10:05:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIGD](
	[MALOAI] [nvarchar](50) NOT NULL,
	[LOAI] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LOAIGD] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 29/05/2020 10:05:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](50) NOT NULL,
	[PHONE] [nvarchar](50) NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
	[USERNAME] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 29/05/2020 10:05:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MAPN] [nvarchar](50) NOT NULL,
	[NGAYNHAP] [date] NOT NULL,
	[MANV] [int] NOT NULL,
 CONSTRAINT [PK_PHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIZE]    Script Date: 29/05/2020 10:05:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIZE](
	[SIZE] [int] NOT NULL,
 CONSTRAINT [PK_SIZE] PRIMARY KEY CLUSTERED 
(
	[SIZE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ACCOUNT] ([USERNAME], [PASSWORD], [AUTHORIZE], [TRANGTHAI]) VALUES (N'abc', N'bWF0a2hhdTEyMw==', N'Nhân viên', 1)
INSERT [dbo].[ACCOUNT] ([USERNAME], [PASSWORD], [AUTHORIZE], [TRANGTHAI]) VALUES (N'admin', N'NDU2', N'admin', 1)
INSERT [dbo].[ACCOUNT] ([USERNAME], [PASSWORD], [AUTHORIZE], [TRANGTHAI]) VALUES (N'boss', N'NDU2', N'boss', 1)
INSERT [dbo].[CHITIETGD] ([MASP], [SIZE], [SOLUONGTON], [TRANGTHAI]) VALUES (N'ASS', 36, 47, 1)
INSERT [dbo].[CHITIETGD] ([MASP], [SIZE], [SOLUONGTON], [TRANGTHAI]) VALUES (N'AST', 35, 0, 1)
INSERT [dbo].[CHITIETGD] ([MASP], [SIZE], [SOLUONGTON], [TRANGTHAI]) VALUES (N'AST', 39, 0, 1)
INSERT [dbo].[CHITIETHD] ([MAHD], [MASP], [SIZE], [SOLUONG]) VALUES (22, N'ASS', 36, 1)
INSERT [dbo].[CHITIETHD] ([MAHD], [MASP], [SIZE], [SOLUONG]) VALUES (22, N'DM', 43, 1)
INSERT [dbo].[CHITIETHD] ([MAHD], [MASP], [SIZE], [SOLUONG]) VALUES (23, N'DS', 37, 1)
INSERT [dbo].[CTPN] ([MAPN], [MASP], [SIZE], [SOLUONG]) VALUES (N'PN010', N'ASS', 36, 4)
INSERT [dbo].[CTPN] ([MAPN], [MASP], [SIZE], [SOLUONG]) VALUES (N'PN010', N'DM', 40, 7)
INSERT [dbo].[CTPN] ([MAPN], [MASP], [SIZE], [SOLUONG]) VALUES (N'PN011', N'AST', 40, 1)
INSERT [dbo].[GIAYDEP] ([MASP], [TENSP], [DONGIA], [MALOAI]) VALUES (N'ASS', N'Adidas Stan Smith', 2300000, N'GBT')
INSERT [dbo].[GIAYDEP] ([MASP], [TENSP], [DONGIA], [MALOAI]) VALUES (N'AST', N'Adidas Super Star', 2000000, N'GBT')
INSERT [dbo].[GIAYDEP] ([MASP], [TENSP], [DONGIA], [MALOAI]) VALUES (N'DM', N'Dép Mickey', 500000, N'DXN')
SET IDENTITY_INSERT [dbo].[HOADON] ON 

INSERT [dbo].[HOADON] ([MAHD], [TONGHD], [NGAYBAN], [MAKH], [MANV]) VALUES (22, 2800000, CAST(N'2020-04-30' AS Date), N'0123456789', 1)
INSERT [dbo].[HOADON] ([MAHD], [TONGHD], [NGAYBAN], [MAKH], [MANV]) VALUES (23, 4200000, CAST(N'2020-04-30' AS Date), N'KVL', 1)
INSERT [dbo].[HOADON] ([MAHD], [TONGHD], [NGAYBAN], [MAKH], [MANV]) VALUES (24, 500000, CAST(N'2020-04-30' AS Date), N'KVL', 1)
SET IDENTITY_INSERT [dbo].[HOADON] OFF
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [NGAYSINH], [DIACHI]) VALUES (N'0123456789', N'Hứa Minh Đạt', CAST(N'1980-04-10' AS Date), N'cầu móng')
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [NGAYSINH], [DIACHI]) VALUES (N'0912345678', N'Lâm Vỹ Dạ', CAST(N'1980-04-02' AS Date), N'cầu Bình Lợi')
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [NGAYSINH], [DIACHI]) VALUES (N'KVL', N'Khách Vãng Lai', NULL, NULL)
INSERT [dbo].[LOAIGD] ([MALOAI], [LOAI]) VALUES (N'DXN', N'dép xỏ ngón')
INSERT [dbo].[LOAIGD] ([MALOAI], [LOAI]) VALUES (N'GBT', N'giày bata')
INSERT [dbo].[LOAIGD] ([MALOAI], [LOAI]) VALUES (N'GT', N'giày tây')
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [PHONE], [EMAIL], [USERNAME]) VALUES (1, N'duy', N'0968229526', N'phuduy1999@gmail.com', N'duy')
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [PHONE], [EMAIL], [USERNAME]) VALUES (4, N'admin', N'0987654321', N'abc@gmai.com', N'admin')
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [PHONE], [EMAIL], [USERNAME]) VALUES (2006, N'Abcdef', N'0988222566', N'abcdef@gmail.com', N'abc')
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
INSERT [dbo].[PHIEUNHAP] ([MAPN], [NGAYNHAP], [MANV]) VALUES (N'PN010', CAST(N'2020-05-24' AS Date), 4)
INSERT [dbo].[PHIEUNHAP] ([MAPN], [NGAYNHAP], [MANV]) VALUES (N'PN011', CAST(N'2020-05-24' AS Date), 4)
INSERT [dbo].[PHIEUNHAP] ([MAPN], [NGAYNHAP], [MANV]) VALUES (N'PN012', CAST(N'2020-05-24' AS Date), 4)
INSERT [dbo].[SIZE] ([SIZE]) VALUES (35)
INSERT [dbo].[SIZE] ([SIZE]) VALUES (36)
INSERT [dbo].[SIZE] ([SIZE]) VALUES (37)
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_NHANVIEN]    Script Date: 29/05/2020 10:05:47 PM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [IX_NHANVIEN] UNIQUE NONCLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHITIETGD]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETGD_GIAYDEP] FOREIGN KEY([MASP])
REFERENCES [dbo].[GIAYDEP] ([MASP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIETGD] CHECK CONSTRAINT [FK_CHITIETGD_GIAYDEP]
GO
ALTER TABLE [dbo].[CHITIETGD]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETGD_SIZE] FOREIGN KEY([SIZE])
REFERENCES [dbo].[SIZE] ([SIZE])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIETGD] CHECK CONSTRAINT [FK_CHITIETGD_SIZE]
GO
ALTER TABLE [dbo].[CHITIETHD]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHD_CHITIETGD] FOREIGN KEY([MASP], [SIZE])
REFERENCES [dbo].[CHITIETGD] ([MASP], [SIZE])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIETHD] CHECK CONSTRAINT [FK_CHITIETHD_CHITIETGD]
GO
ALTER TABLE [dbo].[CHITIETHD]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHD_HOADON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIETHD] CHECK CONSTRAINT [FK_CHITIETHD_HOADON]
GO
ALTER TABLE [dbo].[CTPN]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_CHITIETGD] FOREIGN KEY([MASP], [SIZE])
REFERENCES [dbo].[CHITIETGD] ([MASP], [SIZE])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTPN] CHECK CONSTRAINT [FK_CTPN_CHITIETGD]
GO
ALTER TABLE [dbo].[CTPN]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_PHIEUNHAP] FOREIGN KEY([MAPN])
REFERENCES [dbo].[PHIEUNHAP] ([MAPN])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTPN] CHECK CONSTRAINT [FK_CTPN_PHIEUNHAP]
GO
ALTER TABLE [dbo].[GIAYDEP]  WITH CHECK ADD  CONSTRAINT [FK_GIAYDEP_LOAIGD] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAIGD] ([MALOAI])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GIAYDEP] CHECK CONSTRAINT [FK_GIAYDEP_LOAIGD]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_ACCOUNT] FOREIGN KEY([USERNAME])
REFERENCES [dbo].[ACCOUNT] ([USERNAME])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_ACCOUNT]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_NHANVIEN]
GO
